

.title {
  font-family:helvetica;
  font-size:60px;
}
.blurb{
  font-family:helvetica;
  font-size:15px;
  background-color:pink;
}
.link-title{
  font-family:helvetica;
  text-align:center;
}
.link-pic{
  text-align: center;
  margin:0 auto;
  display:block;
}
.about{
  font-family:helvetica;
  text-align:center;
}
